@charset "utf-8";

ul {
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.menu {
  margin: 30px auto;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#player {
  display: block;
  margin: 100px auto 0;
  width: 80vw;
  height: 80vh;
}

.absolute {
  position: relative;
}
#volume {
  display: block;
  position: absolute;
  top: 30%;
  left: 80px;
}
#speed {
  margin: auto 0;
}

.header {
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px 0;
  z-index: 99;
  background-color: #fc5603;
  &__search {
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    padding-left: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 500px;
  }
  &__Btn {
    margin: 0;
    padding: 10px;
    border: 1px solid #000;
  }
  &__bar {
    width: fit-content;
  }
  &__rela {
    margin: 20px auto;
    width: fit-content;
    position: relative;
  }
  &__List {
    position: absolute;
    top: 30px;
    display: none;
    width: fit-content;
    max-width: 500px;
    border-radius: 10px;
    appearance: none;
  }
  &--hidden {
    top: -100%;
  }
}
